.navbar3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar3-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 45px;
}

.navbar3-logo span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
}


.navbar3-dropdown {
    position: relative;
    display: inline-block;
}

.navbar3-dropdown-toggle {
    background: #f8f9fa;
    border: 1px solid #ddd;
    margin-left: 5rem;
    width: 8rem;
    cursor: pointer;
    border-radius: 4px;
}

.navbar3-dropdown-menu {
    position: absolute;
    width: fit-content;
    top: 100%;
    left: 35%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar3-dropdown-item {
    padding: 10px;
    cursor: pointer;
    margin: 1rem;
}

.navbar3-dropdown-item:hover {
    background: #f0f0f0;
}

.navbar3-menu {
    display: flex;
    align-items: center;
}

.navbar3-item {
    margin-right: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.navbar3-cart-icon {
    font-size: 1.5rem;
    margin-right: 20px;
    cursor: pointer;
}