.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}
.navbar-logo span {
    margin-left: 4px;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-logo img {
    width: 45px;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search input {
    height: 30px;
    width: 400px;
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
    border-right: none;
    

}

.navbar-search input:focus {
outline: none;
}

.navbar-search-icon {
    height: 30px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-item {
    margin-right: 20px;
    cursor: pointer;
    font-size: 1rem;
}

.navbar-cart-icon {
    font-size: 1.5rem;
    margin-right: 20px;
    cursor: pointer;
}

button {
    padding: 5px 15px;
    margin-left: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
}

.navbar-LoginBtn {
   color: #000;
}

.navbar-SignUpBtn {
    background-color: #3DCBB1;
    color: #FFFFFF;
}