.subscribe-banner {
    display: flex;
    flex-direction: column;
    width: 50rem;
    background-color: #007BFF;
    padding: 20px;
    margin: 5rem auto;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subscribe-text {
    margin: 1rem 0;
}

.subscribe-text h2 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.subscribe-text p {
    font-size: 1.8rem;
    margin-bottom: 0;
}

.subscribe-form {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.email-input {
    height: 30px;
    width: 300px;
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
    border-right: none;
}

.subscribe-search-icon {
    height: 30px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #fff;
    color: #000;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.subscribe-button {
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    background-color: #3DCBB1;
    color: #fff;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {

    .subscribe-banner{
width: fit-content;
    }

    .subscribe-text h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .subscribe-text p {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .email-input {
        height: 30px;
        width: 250px;
    }
   
}

