.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    color: #ecf0f1;
    font-size: 17px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h2,
.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section li {
    margin: 5px 0;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 350px;
    align-items: center;
    border-top: 1px solid #ecf0f1;
    padding-top: 10px;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.social-icons svg:hover {
    color: #3498db;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .footer-section {
        min-width: auto;
        margin: 10px 0;
    }

    .footer-bottom {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: 14px;
        padding: 15px;
    }

    .footer-section {
        min-width: auto;
        margin: 10px 0;
    }

    .footer-bottom {
        gap: 20px;
    }

    .social-icons {
        gap: 10px;
    }

    .social-icons svg {
        width: 18px;
        height: 18px;
    }
}