/* General Container Styling */
.cardContainer {
  padding: 20px 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cardContainer h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardContainer span {
  margin-bottom: 2px;
  color: #666;
}

.cardData {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

/* Card Styling */
.card {
  position: relative;
  width: 295px;
  background-color: #fff;
  border-radius: 29px;
  margin-top: 1.5rem;
  overflow: hidden;
}

.cardImgContainer {
  position: relative;
}

.cardImg {
  display: block;
  width: 100%;
  height: auto;
}

.cardImg:hover {
  cursor: pointer;
}

.cardContent {
  padding-left: 5px;
}

.cardContent h4 {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
}

.cardAuthor {
  margin: 0.5rem 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 3px;
}

.cardAuthor span {
  color: #3dcbb1;
  font-weight: 400;
}

.cardDescription {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #666;
}

.cardRating {
  margin: 0.1rem 0;
  font-size: 1rem;
  color: #f39c12;
}

.cardPrice {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
}

.cardNewPrice {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cardOldPrice {
  padding-left: 10px;
  font-size: 1.2rem;
  text-decoration: line-through;
  color: #1b1b1b;
  font-weight: 100;
}

.noDataMessage {
  text-align: center;
}

.cardImgIconSpan {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 88%;
  cursor: pointer;
  z-index: 10;
  background-color: rgb(211, 235, 235);
}

.exploreCoursesBtn {
  border: none;
  border-radius: 12px;
  width: fit-content;
  margin: auto;
  background-color: #3dcbb1;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.cardRatingSpan {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
}

/* Responsive Styling for Tablets */
@media (max-width: 768px) {
  
  .cardContainer {
    padding: 10px 35px;
  }
  
  .cardContainer h3 {
    margin: 0;
    font-size: 1.2rem;
  }

  .cardData {
    gap: 15px;
  }

  .card {
    width: 220px;
    background-color: #fff;
    border-radius: 29px;
    margin-top: 1.5rem;
    overflow: hidden;
  }
  .cardContent h4,.cardAuthor,.cardRating{
    font-size: 0.9rem;
  }
  .cardDescription {
    font-size: 0.8rem;
  }
  .cardNewPrice,.cardOldPrice {
    font-size: 1.2rem;
  }

}

/* Responsive Styling for Mobile */
@media (max-width: 480px) {
  .cardContainer {
    padding: 10px 0 0 10px;
  }

  .cardContainer h3 {
    font-size: 1.2rem;
    margin: 0;
  }

  .cardContainer span {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }

  .cardData {
    flex-direction: column;
  }

  .card {
    max-width: 90%;
    margin: 0;
  }

  .cardImgContainer {
    position: relative;
    height: 150px;
  }

  .cardImg {
    height: 100%;
  }

  .cardContent {
    padding: 0 10px;
  }

  .cardContent h4 {
    font-size: 0.9rem;
  }

  .cardAuthor {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
  }

  .cardAuthor span {
    padding-top: 0.4rem;
  }

  .cardDescription {
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .cardRatingSpan {
    margin: 0;
    padding: 0;
  }

  .cardRating {
    font-size: 0.9rem;
    margin: 0;
  }

  .cardPrice {
    flex-direction: column;
    align-items: flex-start;
  }

  .cardNewPrice {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }

  .cardOldPrice {
    font-size: 1rem;
    margin-left: 0;
  }

  .noDataMessage {
    font-size: 0.8rem;
  }

  .cardImgIconSpan {
    top: 5px;
    left: 90%;
    padding: 3px;
    font-size: 16px;
  }

  .exploreCoursesBtn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .cardRatingSpan {
    font-size: 0.9rem;
  }
}
