/* General Container Styling */
.cardContainer {
  min-height: 23.2vh;
  padding: 1.25rem 4.375rem;
  display: flex;
  flex-direction: column;
}

.cardContainer h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.cardContainer span {
  margin-bottom: 0.125rem;
  color: #666;
}

.cardData {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

/* Card Styling */
.card {
  position: relative;
  width: 18.4375rem;
  background-color: #fff;
  margin-top: 1.5rem;
  overflow: hidden;
}

.cardImgContainer {
  position: relative;
}

.cardImg {
  display: block;
  width: 100%;
  height: auto;
}

.cardImg:hover {
  cursor: pointer;
}

.cardContent {
  padding-left: 0.3125rem;
}

.cardContent h4 {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
}

.cardAuthor {
  margin: 0.5rem 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.1875rem;
}

.cardAuthor span {
  color: #3dcbb1;
  font-weight: 400;
}

.cardDescription {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #666;
}

.cardRating {
  margin: 0.0625rem 0;
  font-size: 1rem;
  color: #f39c12;
}

.cardPrice {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.cardNewPrice {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cardOldPrice {
  padding-left: 0.625rem;
  font-size: 1.2rem;
  text-decoration: line-through;
  color: #1b1b1b;
  font-weight: 100;
}

.noDataMessage {
  text-align: center;
}

.cardImgIconSpan {
  display: flex;
  justify-content: center;
  padding: 0.3125rem;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.625rem;
  left: 88%;
  cursor: pointer;
  z-index: 10;
  background-color: rgb(211, 235, 235);
}

.exploreCoursesBtn {
  border: none;
  border-radius: 0.75rem;
  width: fit-content;
  margin: auto;
  background-color: #3dcbb1;
  color: #fff;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.cardRatingSpan {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  margin: 0;
  padding: 0;
}

.goTOCourseBtnDiv {
  position: relative;
  width: 8rem;
  height: 1rem;
  padding: 0.6rem 1.2rem;
  margin-top: 1rem;
  background-color: #fff;
  border: 2px solid #666;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.goTOCourseBtnDiv::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #3dcbb1;
  transition: width 0.3s ease;
  cursor: pointer;
}

.goTOCourseBtnDiv:hover::before {
  width: 100%;
}

.goToCourseBtn {
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  top: 22%;
  left: 7%;
  background: none;
  border: none;
  cursor: pointer;
}

.goTOCourseBtnDiv svg {
  position: absolute;
  top: 15%;
  left: 75%;
  transition: transform 0.3s, background-color 0.3s;
  border-radius: 50%;
  border: 2px solid #333;
  padding: 0.2rem;
  transform: rotate(300deg);
}

.goTOCourseBtnDiv:hover svg {
  transform: rotate(0deg);
}

.goTOCourseBtnDiv:hover {
  border: 2px solid #3dcbb1;
}


@media (max-width: 768px) {

  .cardContainer {
    padding: 0.625rem 2.1875rem;
  }

  .cardContainer h3 {
    margin: 0;
    font-size: 1.2rem;
  }

  .cardData {
    gap: 0.9375rem;
  }

  .card {
    width: 13.75rem;
    background-color: #fff;
    border-radius: 1.8125rem;
    margin-top: 1.5rem;
    overflow: hidden;
  }

  .cardImgIconSpan {
    padding: 0.2rem;
    left: 86%;
  }

  .cardContent h4,
  .cardAuthor,
  .cardRating {
    font-size: 0.9rem;
  }

  .cardDescription {
    font-size: 0.8rem;
  }

  .cardNewPrice,
  .cardOldPrice {
    font-size: 1.2rem;
  }

}

@media (max-width: 480px) {
  .cardContainer {
    padding: 0.625rem 0 0 0.625rem;
    align-items: center;
  }

  .cardContainer h3 {
    font-size: 1.2rem;
    margin: 0;
  }

  .cardContainer span {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .cardData {
    flex-direction: column;
  }

  .card {
    max-width: 90%;
    margin: 0;
  }

  .cardImgContainer {
    position: relative;
    height: 9.375rem;
  }

  .cardImg {
    height: 100%;
  }

  .cardContent {
    padding: 0 0.625rem;
  }

  .cardContent h4 {
    font-size: 0.9rem;
  }

  .cardAuthor {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
  }

  .cardAuthor span {
    padding-top: 0.4rem;
  }

  .cardDescription {
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .cardRatingSpan {
    margin: 0;
    padding: 0;
  }

  .cardRating {
    font-size: 0.9rem;
    margin: 0;
  }

  .cardPrice {
    flex-direction: column;
    align-items: flex-start;
  }

  .cardNewPrice {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }

  .cardOldPrice {
    font-size: 1rem;
    margin-left: 0;
  }

  .noDataMessage {
    font-size: 0.8rem;
  }

  .cardImgIconSpan {
    top: 0.3125rem;
    left: 85%;
    padding: 0.1875rem;
    font-size: 1rem;
  }

  .exploreCoursesBtn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .cardRatingSpan {
    font-size: 0.9rem;
  }
}