.cardContainer {
    padding: 20px 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cardContainer h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.cardContainer span {
    font-size: 1rem;
    margin-bottom: 2px;
    color: #666;
}

.cardData {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Card styling */
.card {
    position: relative;
    width: 100%;
    max-width: 320px;
    background-color: #fff;
    border-radius: 29px;
    margin: 10px 10px 10px 0;
    overflow: hidden;
}

.cardImgContainer {
    position: relative;
}

.cardImg {
    display: block;
    width: 100%;
    height: auto;
}

.cardImg:hover {
    cursor: pointer;
}

.cardContent {
    padding-left: 5px;
}

.cardContent h4 {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
}

.cardAuthor {
    margin: 0.5rem 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 3px;
}

.cardAuthor span {
    color: #3DCBB1;
    font-weight: 400;
}

.cardDescription {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: #666;
}

.cardRating {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #f39c12;
}

.cardPrice {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.cardNewPrice {
    font-size: 1.5rem;
    font-weight: bold;
}

.cardOldPrice {
    padding-left: 10px;
    font-size: 1.2rem;
    text-decoration: line-through;
    color: #1B1B1B;
    font-weight: 100;
}

.noDataMessage {
    text-align: center;
}

.cardImgIconSpan {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px; 
    left: 90%; 
    cursor: pointer;
    z-index: 10; 
    background-color: rgb(211, 235, 235);
}

.exploreCoursesBtn {
    width: fit-content;
    margin: auto;
    background-color: #3DCBB1;
    color: #fff;
    padding: 10px 20px;
}
