.cartMenu {
  position: fixed;
  top: 0;
  right: -31.25rem;
  /* 500px converted to rem */
  width: 18.75rem;
  /* 300px converted to rem */
  height: 100%;
  background: white;
  box-shadow: -0.125rem 0 0.3125rem rgba(0, 0, 0, 0.2);
  /* -2px 0 5px converted to rem */
  transition: right 0.3s ease-in-out;
  padding: 1.25rem;
  /* 20px converted to rem */
  z-index: 1000;
}

.cartMenu.visible {
  right: 0;
}

.cartMenuData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closeBtnDiv {
  position: absolute;
  transform: translateX(18rem);
  /* 288px converted to rem */
  font-size: 1.5625rem;
  /* 25px converted to rem */
}

.closeBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.cartMenuProductDetails {
  height: 91.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartMenuProduct {
  overflow-y: auto;
  scrollbar-width: none;
}

.cartMenuProductBuyBtn {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 1.25rem 6.25rem;
  /* 20px 100px converted to rem */
  background-color: #ffffff;
  border: 0.1875rem solid #3dcbb1;
  /* 3px converted to rem */
  border-radius: 0.1875rem;
  /* 3px converted to rem */
  cursor: pointer;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.cartMenuProductBuyBtn .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartMenuProductBuyBtn .button-wrapper,
.cartMenuProductBuyBtn .text,
.cartMenuProductBuyBtn .icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.cartMenuProductBuyBtn .text {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartMenuProductBuyBtn .text,
.cartMenuProductBuyBtn .icon {
  transition: top 0.5s;
}

.cartMenuProductBuyBtn .icon {
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartMenuProductBuyBtn .icon svg {
  width: 1.5rem;
  /* 24px converted to rem */
  height: 1.5rem;
  /* 24px converted to rem */
}

.cartMenuProductBuyBtn:hover .text {
  top: -100%;
}

.cartMenuProductBuyBtn:hover .icon {
  top: 0;
}

.cartMenuProductCheckoutDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartMenuProductCloseDeleteIcon {
  font-size: 1.8rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.cartMenuProductOpenDeleteIcon {
  font-size: 2rem;
  margin-left: 1.5rem;
  cursor: pointer;
  display: none;
}

.cartMenuProductBuyicon:hover .cartMenuProductCloseDeleteIcon {
  display: none;
}

.cartMenuProductBuyicon:hover .cartMenuProductOpenDeleteIcon {
  display: inline;
}

.emptyCartIcon {
  position: absolute;
  transform: translateY(100%) translateX(70%);
  font-size: 8rem;
  cursor: pointer;
}