.categories3Text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories3Span {
  font-size: 1.125rem;
  /* 18px converted to rem */
  font-weight: 600;
  padding: 0.625rem;
  /* 10px converted to rem */
  margin-right: 1.5625rem;
  /* 25px converted to rem */
}

.categories3Span:hover {
  border-bottom: 0.125rem solid #3dcbb1;
  /* 2px converted to rem */
  cursor: pointer;
}

.topCourseDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.topCourseDiv h2 {
  margin: 4rem 0 2rem 0;
  font-size: 2.5rem;
  /* 40px converted to rem */
}

.discountBannerImg {
  width: 70%;
  padding-bottom: 0.625rem;
  /* 10px converted to rem */
  border-radius: 0.5rem;
  /* 8px converted to rem */
  /* object-fit: contain; */
}
