.categoriesText {
  height: 37px;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
}

.categoriesSpan {
  display: flex;
  align-items: center;
  height: 37px;
  font-size: 14px;
  border: 2px solid #d4cdcd;
  border-radius: 12px;
  padding: 0 20px;
  cursor: pointer;
}

.categoriesSpan.selected {
  border: 2px solid #3dcbb1;
  color: #3dcbb1;
}

@media (max-width: 768px) {
  .categoriesText {
    width: 100%;
    padding: 20px 70px;
    margin: 0;
  }

  .categoriesSpan {
    width: fit-content;
    font-size: 10px;
    padding: 0 8px;
    margin-left: 1rem;
  }

  .categoriesSpan.selected {
    border: 2px solid #3dcbb1;
    color: #3dcbb1;
  }
}
