.mainHeroSectionDiv {
  background-image: url('/src/assets/homePage3/heroSection/heroSectionBg.png');
  background-size: cover;
  padding: 1.25rem;
  color: white;
  text-align: center;
}

.heroSectionContent {
  margin-top: 7.5rem;
  filter: brightness(100%);
}

.heroSectionContent h2 {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.heroSectionContent p {
  font-size: 1.2rem;
  margin-bottom: 3.125rem;
}

.heroSectionFilter {
  background-color: #ffffff;
  padding: 1.25rem;
  border-radius: 0.9375rem;
  display: inline-block;
  top: 6rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.heroSectionFilter h2 {
  text-align: start;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 1.25rem;
}

.heroSectionFilterInputs {
  display: flex;
  gap: 0.625rem;
}

.heroSectionFilterInputs input {
  width: 15.625rem;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.625rem;
  font-size: 1rem;
}

.heroSectionFilterInputs button {
  padding: 0.625rem 2.1875rem;
  background-color: #00bfa6;
  color: white;
  border: none;
  border-radius: 0.9375rem;
  font-size: 1rem;
  cursor: pointer;
}

.heroSectionFilterInputs button:hover {
  background-color: #009c87;
}
