.instructorCardDataContainer {
  padding: 20px 70px;
}

.instructorCardDataContainer h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.instructorCardDataContainer span {
  display: block;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #666;
}

.instructorCardsContainer {
  display: flex;
  justify-content: space-between;
}

.instructorCard {
  width: 300px;
  box-sizing: border-box;
  margin-left: 10px;
}

.instructorCardImg {
  width: 100%;
}
@media (max-width: 480px) {
  .instructorCardDataContainer {
    padding: 10px 5px; 
  }

  .instructorCardDataContainer h3 {
    font-size: 1.2rem;
    margin: 0;
  }

  .instructorCardDataContainer span {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  .instructorCardsContainer {
    display: flex;
    overflow-x: auto;
    gap: 10px; 
    padding: 0 10px;
    scrollbar-width: none; 
  }

  .instructorCardsContainer::-webkit-scrollbar {
    display: none; 
  }

  .instructorCard {
    margin: 0;
  }

  .instructorCardImg {
    width: 150px;
  }
}
