.instructorCardDataContainer {
  padding: 1.25rem 4.375rem;
}

.instructorCardDataContainer h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.instructorCardDataContainer span {
  display: block;
  font-size: 1rem;
  margin-bottom: 1.25rem;
  color: #666;
}

.instructorCardsContainer {
  display: flex;
  justify-content: space-between;
}

.instructorCard {
  width: 18.75rem;
  box-sizing: border-box;
  margin-left: 0.625rem;
}

.instructorCardImg {
  width: 100%;
}

@media (max-width: 768px) {
  .instructorCardDataContainer {
    padding: 0.625rem 2.1875rem;
  }
}

@media (max-width: 480px) {
  .instructorCardDataContainer {
    padding: 0.625rem 0.3125rem;
  }

  .instructorCardDataContainer h3 {
    font-size: 1.2rem;
    margin: 0;
  }

  .instructorCardDataContainer span {
    font-size: 0.8rem;
    margin-bottom: 0.625rem;
  }

  .instructorCardsContainer {
    display: flex;
    overflow-x: auto;
    gap: 0.625rem;
    padding: 0 0.625rem;
    scrollbar-width: none;
  }

  .instructorCardsContainer::-webkit-scrollbar {
    display: none;
  }

  .instructorCard {
    margin: 0;
  }

  .instructorCardImg {
    width: 9.375rem;
  }
}
