/* Import necessary fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;400i;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* Ensure other pages are not affected by these styles */
.loader-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.loaderSpan {
  color: #393838;
  font-size: 1.75rem;
  margin-top: 1.5625rem;
}

.LoaderBalls {
  width: 8.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LoaderBalls__item {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  background: #00f1ca;
  animation: bouncing 0.4s alternate infinite
    cubic-bezier(0.6, 0.05, 0.15, 0.95);
}

.LoaderBalls__item:nth-child(1) {
  animation-delay: 0s;
}

.LoaderBalls__item:nth-child(2) {
  animation-delay: 0.1s;
}

.LoaderBalls__item:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 0.625rem, 0) scale(1.2, 0.85);
  }

  100% {
    transform: translate3d(0, -1.25rem, 0) scale(0.9, 1.1);
  }
}
