.myAccountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  background-color: #f4f4f4;
  min-height: 21rem;
}

.myAccountContainerH2 {
  margin-top: 1.25rem;
  font-size: 2rem;
  color: #333;
}

.sidebar {
  display: flex;
  gap: 2rem;
  margin: 0.625rem 0 1.25rem 0;
  height: 3.75rem;
}

.sidebar p {
  height: fit-content;
  margin: 0.625rem 0 0 0;
  padding: 0.0625rem;
  cursor: pointer;
  font-size: 1.1rem;
}

.sidebarProfile {
  border-bottom: 0.125rem solid #3dcbb1;
}