.myCoursetTopLayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 4.375rem 0 4.375rem;
}

.myCoursetTopLayerText1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.myCoursetTopLayerText2 {
  font-size: 1.125rem;
  color: #767676;
}

.myCoursetTopLayerDropDown {
  display: flex;
  gap: 1rem;
}

.myCoursetTopLayerDropDownToggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #767676;
  border-radius: 2px;
  background-color: #fff;
  width: 12.5rem;
  padding: 0.625rem 1.75rem;
}

.dropdownMenu1 {
  position: absolute;
  list-style-type: none;
  top: 24rem;
  width: 11.1875rem;
  padding: 0.625rem;
  border: 1px solid #767676;
  border-radius: 0 0 0.625rem 0.625rem;
  border-top: none;
  cursor: pointer;
}

.dropdownMenu2 {
  position: absolute;
  list-style-type: none;
  top: 24rem;
  left: 48.8125rem;
  width: 11.125rem;
  padding: 0.625rem;
  border: 1px solid #767676;
  border-radius: 0 0 0.625rem 0.625rem;
  border-top: none;
  cursor: pointer;
}

.myCoursetTopLayerDropDownItems {
  padding-left: 1.125rem;
}

.dropdownMenu1:hover {
  background-color: #cecaca;
}

.dropdownMenu2:hover {
  background-color: #cecaca;
}

.paginationControls {
  display: flex;
  justify-content: center;
  margin: 1.25rem 0;
}

.paginationControlsNumber {
  font-size: 0.9375rem;
  text-align: center;
  padding: 0.75rem 1.125rem;
  margin: 0 0.5rem;
  border-radius: 0.75rem;
  background-color: #ffffff;
  border: 0.125rem solid #767676;
}

.paginationControlsBtn {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  color: #767676;
  background-color: #fff;
  border: 0.125rem solid #767676;
  margin: 0 0.9375rem;
  cursor: pointer;
  padding: 0.3125rem 0.5rem;
  border-radius: 2px;
}

.paginationControls .active {
  font-weight: bold;
  border: 0.125rem solid #3dcbb1;
  color: #3dcbb1;
}