/* navbar1.css */

.navbar {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 4.375rem;
  height: 60px;
}

.navbarLogo {
  display: flex;
  align-items: center;
}

.navbarLogo span {
  background: linear-gradient(to top, #BDE8CA, #1fb599);
  background-clip: text;
  color: transparent;
  margin-left: 0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbarLogo img {
  width: 2.8125rem;
}

.navbarSearch {
  display: flex;
  align-items: center;
}

.navbarSearch input {
  position: relative;
  height: 2.3125rem;
  width: 25rem;
  padding: 0.3125rem 0.625rem;
  font-size: 1rem;
  background-color: #FAFAFA;
  border: none;
  border-radius: 0.1875rem 0 0 0.1875rem;
  border-right: none;
}

.navbarSearch input:focus {
  outline: none;
}

.navbarSearchIcon {
  position: absolute;
  transform: translateY(0%);
  left: 65%;
  color: black;
  font-size: 1.5625rem;
  cursor: pointer;
}

.navbarMenu {
  width: 53.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarItem {
  display: contents;
  cursor: pointer;
  font-size: 1rem;
}

.navbarCartIcon {
  font-size: 1.4375rem;
  cursor: pointer;
}

.navbarMenu button {
  font-size: 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.navbarLoginBtn {
  background-color: #ffffff;
  padding: 0.375rem 0.75rem;
  font-weight: 450;
  border: 1px solid black;
}

.navbarSignUpBtn {
  background-color: #3dcbb1;
  color: #ffffff;
  padding: 0.375rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border: none;
}

.navbarTimeLapIcon {
  font-size: 1.125rem;
}

.navbarSearchItem {
  width: 25rem;
  position: absolute;
  top: 10%;
  padding: 0.5rem;
  z-index: 1;
  background-color: #F4F4F4;
  font-size: 1.0625rem;
  font-weight: 600;
  opacity: 0.9;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.navbarSearchItem:hover {
  background-color: #F9F9F9;
}

.navbarSearchItem div {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.navbarSearchItem div:last-child {
  border-bottom: none;
}

.navbarMenuIconDiv {
  display: none;
}

@media (max-width: 768px) {

  .navbarItem,
  .navbarSignUpBtn,
  .navbarLoginBtn {
    display: none;
  }

  .navbar {
    padding: 0.625rem 2.1875rem;
  }

  .navbarSearchIcon {
    font-size: 1.375rem;
  }

  .navbarMenu {
    display: flex;
    justify-content: space-between;
  }

  .navbarSearch input {
    width: 18.75rem;
    margin-left: 2rem;
    padding: 0.1875rem 0.625rem;
    font-size: 0.9rem;
  }

  .navbarSearchIcon {
    left: 74%;
  }

  .navbarMenuIconDiv {
    display: block;
    font-size: 1.75rem;
    margin-right: 2rem;
    cursor: pointer;
  }

  .navbarLogo img {
    width: 1.875rem;
  }

  .navbarLogo span {
    font-size: 0.9375rem;
    width: 7.5rem;
  }

  .navbarCartIcon {
    font-size: 1.25rem;
    margin-right: 1rem;
  }

  .navbarMenuDeactivate {
    display: none;
  }

  .navbarMenuActive {
    width: 25rem;
    position: absolute;
    top: 10rem;
    left: 1rem;
    background-color: #666;
    z-index: 100000;
    list-style-type: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }

  .navbarMenuActiveLi {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.8rem 2rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .navbarMenuActiveLi:last-child {
    border-bottom: none;
  }

  .navbarMenuActiveLi:hover {
    background-color: #3dcbb1;
    color: #fff;
  }

  .navbarMenuIconDiv {
    position: relative;
  }

  .navbarMenuIcon {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .navbarMenuIcon:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 480px) {

  .navbarSearch,
  .navbarSearchIcon,
  .navbarItem,
  .navbarSignUpBtn,
  .navbarLoginBtn {
    display: none;
  }

  .navbar {
    padding: 0;
    align-items: center;
    justify-content: space-between;
  }

  .navbarMenuIcon {
    display: block;
  }

  .navbarLogo img {
    width: 1.875rem;
  }

  .navbarLogo span {
    font-size: 0.9375rem;
    width: 7.5rem;
  }

  .navbarMenu {
    margin-right: 0.625rem;
    justify-content: end;
  }

  .navbarCartIcon {
    font-size: 1.25rem;
  }
}