/* Main Navbar Container */
.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 4.375rem;
  box-shadow: 0.0625rem 0.125rem rgb(239, 237, 237);
}

/* Logo Section */
.navbar2Logo {
  display: flex;
  align-items: center;
}

.navbar2Logo span {
  background: linear-gradient(to top, #bde8ca, #1fb599);
  background-clip: text;
  color: transparent;
  margin-left: 0.25rem;
  font-size: 1.4375rem;
  font-weight: bold;
}

.navbar2Logo img {
  width: 2.8125rem;
}

.navbar2Logo img:hover,
span:hover {
  cursor: pointer;
}

/* Search Bar */
.navbar2Search {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 500;
}

.navbar2Search input {
  position: relative;
  height: 2.3125rem;
  width: 25rem;
  padding: 0.3125rem 0.625rem;
  font-size: 1rem;
  background-color: #fafafa;
  border: none;
  border-radius: 0.1875rem 0 0 0.1875rem;
  border-right: none;
}

.navbar2SearchIcon {
  position: absolute;
  right: 0.625rem;
  color: black;
  font-size: 1.5625rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.navbar2CloseIcon {
  display: none;
  position: absolute;
  right: 0.625rem;
  color: black;
  font-size: 1.5625rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

/* When the input has text, hide the search icon and show the close icon */
.navbar2Search input:not(:placeholder-shown)~.navbar2SearchIcon {
  display: none;
}

.navbar2Search input:not(:placeholder-shown)~.navbar2CloseIcon {
  display: block;
}

/* Menu Section */
.navbar2Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
}

/* Profile Section */
.navbar2ProfileImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.cartDropdownProfile {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

/* Icons */
.navbar2CartEmojiIcon {
  font-size: 1.5625rem;
}

.navbar2Item {
  display: contents;
  font-size: 1.125rem;
}

.navbar2CartIcon {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 0.3125rem;
  cursor: pointer;
}

.navbar2BellBtn {
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  margin-top: 0.4rem;
}

.notificationIcon {
  position: absolute;
  left: 80%;
  width: 8px;
  height: 8px;
  background-color: #1fb599;
  border-radius: 50%;

}


.bellIcon {
  height: 1.5rem;
  width: 1.5rem;
}

.navbar2BellBtn.animate .bellIcon {
  animation: bellRing 0.9s both;
}


@keyframes bellRing {

  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.button:active {
  transform: scale(0.8);
}

/* /////////////////////////////////////////////////// */

.navbar2CartCount {
  width: 1rem;
  text-align: center;
  position: absolute;
  transform: translateX(2.5rem) translateY(-0.75rem);
  color: #666;
  border-radius: 50%;
  font-weight: bold;
}

/* Dropdown Menu */
.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown2Toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  gap: 0.25rem;
  margin-left: 3.125rem;
  width: 5rem;
  font-size: 1.0625rem;
  font-weight: 450;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  position: relative;
  z-index: 1000;
}

.dropdown2Menu {
  position: absolute;
  width: 13.75rem;
  top: 100%;
  left: 35%;
  background: #fff;
  border-radius: 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown2Item {
  padding: 0.625rem;
  cursor: pointer;
  margin: 1rem;
}

/* Cart Dropdown Menu */
.cartDropdownContainer {
  position: relative;
}

.cartDropdownMenu {
  display: block;
  width: 15.625rem;
  position: absolute;
  top: 3.875rem;
  right: 0;
  background-color: white;
  border: 0.0625rem solid #ddd;
  padding: 0.625rem;
  list-style: none;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.cartDropdownMenu p {
  margin: 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.cartDropdownMenu p:hover {
  background-color: #f0f0f0;
}

.navbar2CartEmojiIcon:hover {
  cursor: pointer;
}

.cartDropdownMenuEmailId,
.cartDropdownWhishlist,
.cartDropdownAccountSetting {
  border-bottom: 0.125rem solid #eeeeee;
}

.cartDropdownWhishlist {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

.cartDropdownAccountLogout {
  color: red;
}

.navbar2SearchItem {
  width: 25rem;
  position: absolute;
  top: 110%;
  padding: 0.5rem;
  z-index: 1;
  background-color: #f4f4f4;
  font-size: 1.0625rem;
  font-weight: 600;
  opacity: 0.9;
  cursor: pointer;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
}

.navbar2SearchItem:hover {
  background-color: #f9f9f9;
}

.navbar2SearchItem div {
  padding: 0.5rem;
  border-bottom: 0.0625rem solid #ddd;
}

.navbar2SearchItem div:last-child {
  border-bottom: none;
}

.navbar2MenuIconDiv {
  display: none;
  font-size: 1.75rem;
  margin-right: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .dropdown2Toggle {
    display: none;
  }

  .navbar2 {
    padding: 0.6rem 2rem;
  }

  .navbar2Search input {
    width: 15rem;
  }

  .navbar2SearchIcon {
    font-size: 1.2rem;
  }

  .navbar2CartCount {
    transform: translateX(9rem) translateY(-0.65rem);
  }

  .navbar2Logo img {
    width: 1.8rem;
  }

  .navbar2Logo span {
    font-size: 1rem;
  }

  .navbar2Menu {
    display: flex;
    justify-content: space-between;
  }

  .cartDropdownMenu {
    width: 15rem;
    top: 3.1rem;
    right: -1.8rem;
  }

  .navbar2Item {
    font-size: 0.9rem;
  }

  .navbar2CartIcon {
    height: 1.2rem;
    width: 1.2rem;
  }

  .navbar2ProfileImage {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 426px) {
  .navbar2 {
    padding: 0.6rem 0 0 0.6rem;
    align-items: flex-start;
  }

  .navbar2MenuIconDiv {
    display: flex;
  }

  .navbar2CartCount {
    transform: translateX(0.3rem) translateY(-0.65rem);
  }

  .navbar2Logo {
    margin-bottom: 0.6rem;
  }

  .navbar2Logo img {
    width: 1.8rem;
  }

  .navbar2Logo span {
    font-size: 0.9rem;
  }

  .navbar2Search,
  .navbar2Item {
    display: none;
  }

  .navbar2ProfileImage {
    width: 2.1875rem;
    height: 2.1875rem;
    margin: 0;
  }

  .dropdown2Toggle {
    margin-left: 0;
    width: 9.375rem;
    text-align: center;
    font-size: 1rem;
  }

  .cartDropdownMenu {
    top: 2.6rem;
  }

  .cartDropdownMenu p {
    font-size: 0.875rem;
  }

  .cartDropdownMenuEmailId,
  .cartDropdownWhishlist,
  .cartDropdownAccountSetting {
    border-bottom: 0.0625rem solid #eee;
  }

  .cartDropdownAccountLogout {
    color: red;
  }
}