/* navbar1.css */

.navbar {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  height: 60px;
}

.navbarLogo {
  display: flex;
  align-items: center;
}

.navbarLogo span {
  margin-left: 4px;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbarLogo img {
  width: 45px;
}

.navbarSearch {
  display: flex;
  align-items: center;
}

.navbarSearch input {
  position: relative;
  height: 37px;
  width: 400px;
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #FAFAFA;
  border: none;
  border-radius: 3px 0 0 3px;
  border-right: none;
}

.navbarSearch input:focus {
  outline: none;
}

.navbarSearchIcon {
  position: absolute;
  transform: translateY(0%);
  left: 65%;
  color: black;
  font-size: 25px;
  cursor: pointer;
}

.navbarMenu {
  width: 850px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarItem {
  display: contents;
  cursor: pointer;
  font-size: 1rem;
}

.navbarCartIcon {
  font-size: 23px;
  cursor: pointer;
}

.navbarMenu button {
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
}


.navbarLoginBtn {
  background-color: #ffffff;
  padding: 6px 12px;
  font-weight: 450;
  border: 1px solid black;
}

.navbarSignUpBtn {
  background-color: #3dcbb1;
  color: #ffffff;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
}

.navbarTimeLapIcon {
  font-size: 18px;
}

.navbarSearchItem {
  width: 400px;
  position: absolute;
  top: 10%;
  padding: 0.5rem;
  z-index: 1;
  background-color: #F4F4F4;
  font-size: 17px;
  font-weight: 600;
  opacity: 0.9;
  cursor: pointer;
  border: 1px solid #ddd; 
  border-radius: 4px; 
}

.navbarSearchItem:hover {
  background-color: #F9F9F9;
}

.navbarSearchItem div {
  padding: 0.5rem; 
  border-bottom: 1px solid #ddd; 
}

.navbarSearchItem div:last-child {
  border-bottom: none; 
}



@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }

  .navbarLogo span {
    font-size: 1rem;
  }

  .navbarSearch input {
    height: 25px;
    width: 150px;
  }

  .navbarSearchIcon {
    height: 25px;
  }

  .navbarLogo {
    margin-right: 25px;
  }

  .navbarLogo img {
    width: 35px;
  }

  .navbarMenu {
    width: 650px;
  }
}

@media (max-width: 480px) {
  .navbarSearch,.navbarSearchIcon,.navbarItem,.navbarSignUpBtn,.navbarLoginBtn{
    display: none;
  }
  .navbar {
    padding: 0;
    align-items: center;
    justify-content: space-between ;
  }
  .navbarLogo img{
    width: 30px;
  }
  .navbarLogo span{
    font-size: 15px;
    width: 120px;
  }
  .navbarMenu{
    margin-right: 10px;
    justify-content: end;
  }
  .navbarCartIcon{
    font-size: 20px;
  }
}