.paidOfflineVideo {
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 20px 70px 0 70px;
  margin-top: 1rem;
}

.courseDetails {
  width: 800px;
}

.courseDetails img {
  max-width: 100%;
}

.dropdownGroup {
  display: flex;
  flex-direction: column;
}

.dropdownGroup button {
  font-weight: 650;
}

.dropdownToggle:first-child {
  border-radius: 10px 10px 0px 0px;
}

.dropdownToggle:last-child {
  border-radius: 0px 0px 10px 10px;
}

.dropdownToggle {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  color: black;
  cursor: pointer;
  padding: 15px;
  text-align: left;
}

.dropdownChapterNameSpan {
  font-weight: 650;
}

.dropdownVideoSpan {
  display: flex;
  align-items: center;
  color: #a3a3a3;
}

.dropdownTimeSpan {
  display: flex;
  border-radius: 50px;
  align-items: center;
  color: #3dcbb1;
}

.dropdownTimeSpanDot {
  display: flex;
  width: 1px;
  height: 1px;
  background-color: #5b6060;
  border: 2px solid #5b6060;
  border-radius: 50%;
  margin: 0 5px;
}

.dropdownToggleSpanDiv {
  display: flex;
  flex-direction: column;
}

.dropdownMenu {
  list-style: none;
  padding: 10px 0 10px 10px;
  background-color: #f9f9f9;
  color: #c7c7c7;
  position: relative;
  left: 0;
  top: 0;
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.dropdownItemSpan {
  display: flex;
  flex-direction: column;
}

.dropdownItemSpanIcon {
  display: flex;
  align-items: center;
  color: #3dcbb1;
}

.dropdownItemSpanText {
  color: #3dcbb1;
}

.dropdownItemBtn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dropdownItemBtnCom {
  padding: 4px 10px;
  background-color: #3dcbb1;
  color: #ffffff;
}

.dropdownItemBtnPly {
  padding: 4px 10px;
  background-color: #fe416d;
  color: #ffffff;
}

.dropdownItem:hover {
  background-color: #e9ecef;
}

/* /////////////////////////////////courseInfo//////////////////////////////////// */

.courseInfo {
  display: flex;
  padding: 0 70px;
  gap: 20px;
}

.courseSummary h2 {
  width: 790px;
  height: 31px;
  font-size: 24px;
}

.courseImage img {
  width: 387px;
  height: 632px;
}

.courseSummary {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.courseThumbnail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  box-shadow: 0px 2px rgb(253, 251, 251);
}

.courseCreator {
  display: flex;
  align-items: center;
}

.courseCreator img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.courseCreatorText {
  flex: 1;
}

.courseCreatorText p:first-child {
  font-size: 18px;
  color: #3dcbb1;
  font-weight: 600;
}

.courseCreatorText p:nth-child(2) {
  color: #5b6060;
  font-weight: 400;
}

.courseStats {
  display: flex;
  align-items: center;
}

.courseStatsP {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

.courseStatsIcons {
  width: 24px;
  height: 24px;
  color: #3dcbb1;
}

.courseStatsSpan {
  margin: 10px;
}

.courseDescription h4,
.courseReviews h4 {
  font-size: 20px;
  margin: 10px 0;
}

.courseDescription p {
  color: #5b6060;
}

.courseDescription {
  padding-bottom: 20px;
  margin-bottom: 0.5rem;
  box-shadow: 0px 2px rgb(253, 251, 251);
  text-align: justify;
}

.courseReviews {
  padding-bottom: 20px;
  margin-bottom: 0.5rem;
  box-shadow: 0px 2px rgb(253, 251, 251);
  text-align: justify;
}

.reviewItemContainerImg {
  padding-right: 20px;
}

.reviewItemContainer {
  display: flex;
  text-align: justify;
  padding-top: 20px;
}

.reviewContent {
  font-size: 20px;
}

.reviewContent p:first-child {
  color: #3dcbb1;
  padding-bottom: 30px;
  font-weight: 600;
}

.reviewContent p:nth-child(2) {
  color: #5b6060;
}

.loadMoreReviews {
  margin: auto;
  margin-top: 2rem;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.loadMoreReviews:hover {
  border: 1px solid #3dcbb1;
  color: #3dcbb1;
}
