.subscribeBanner {
  display: flex;
  gap: 0.9375rem;
  height: 11.5rem;
  margin: 5rem 4.375rem;
  border-radius: 1.5625rem;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('/src/assets/homePage1/subscribe/subscribe.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.subscribeText {
  text-align: start;
  width: 41rem;
  height: 5.125rem;
}

.subscribeText h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.3125rem;
}

.subscribeText p {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.subscribeForm {
  display: flex;
}

.emailInput {
  position: relative;
  height: 2.5625rem;
  width: 15.1875rem;
  padding-left: 0.625rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.1875rem 0 0 0.1875rem;
  border-right: none;
  opacity: 0.8;
}

.emailInput:focus {
  outline: none;
}

.subscribeSearchIcon {
  position: absolute;
  font-size: 1.25rem;
  font-weight: bolder;
  transform: translateX(8.75rem) translateY(0.6rem);
  color: black;
  cursor: pointer;
}

.subscribeButton {
  padding: 0.3125rem 0.9375rem;
  border: none;
  border-radius: 0.1875rem;
  background-color: #3dcbb1;
  color: #fff;
  cursor: pointer;
  margin-left: 0.625rem;
  font-size: 1.0625rem;
  font-weight: 600;
}

.subscribeButton:hover {
  background-color: #1fb599;
}

@media (max-width: 768rem) {
  .subscribeBanner {
    margin: 0.625rem 2.1875rem;
    width: 90%;
  }

  .subscribeSearchIcon {
    transform: translateX(14rem) translateY(0.8rem);
  }

  .subscribeText {
    width: 12.5rem;
  }

  .subscribeText h2 {
    font-size: 1rem;
  }

  .subscribeText p {
    font-size: 1rem;
  }

  .emailInput {
    font-size: 0.9rem;
  }

  .subscribeButton {
    font-size: 0.9375rem;
    padding: 0.1875rem 0.625rem;
  }
}

@media (max-width: 30rem) {
  .subscribeBanner {
    display: none;
  }
}