.checkmark {
  position: absolute;
  left: 48%;
  top: 30%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #00ffffb3;
  stroke: #fff;
  stroke-width: 2;
  stroke-miterlimit: 10;
  opacity: 0;
  animation: fill 2s ease-in-out 1s reverse, scale 2s ease-in-out;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.4s cubic-bezier(0.65, 0, 0.45, 1) 1s forwards;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.4);
  }
}

@keyframes scale {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.output {
  position: absolute;
  overflow: hidden;
  left: 44%;
  top: 22%;
  padding: 3.2rem;
  border-radius: 50%;
  border: 40px solid rgb(0, 255, 255, 0.7);
  background-color: rgb(0, 255, 255, 0.7);
  transform: scale3d(5.5, 5.5, 5.5);
  animation: out 2s cubic-bezier(0.55, 0.09, 0.68, 0.53) 3s forwards;
  clip-path: circle(50% at 50% 50%);
  opacity: 0;
}

@keyframes out {
  0% {
    opacity: 1;
    transform: scale(0);
    box-shadow: inset 0px 0px 0px 100px rgb(0, 255, 255, 0.7);
  }
  100% {
    opacity: 0;
    transform: scale(2);
    box-shadow: inset 0px 0px 0px 10px rgb(0, 255, 255, 0.7);
  }
}