.trendingCoursesContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.125rem;
  padding: 1.25rem;
  margin-left: 10rem;
}

.trendingCoursesContainer h2 {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 1.25rem;
  font-size: 2rem;
  font-weight: bold;
}

.largeImgContainer {
  flex: 1;
  min-width: 18.75rem;
}

.largeImg {
  width: 100%;
  border-radius: 0.9375rem;
}

.courseCardsContainer {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.courseCard {
  width: calc(40% - 1.25rem);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2.1875rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 1.25rem;
  padding: 0.625rem;
}

.courseCardImg {
  width: 100%;
  height: auto;
}

.courseCardContent {
  padding: 0.625rem;
}

.courseCardContent h4 {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
}

.courseCardAuthor {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #555;
  display: flex;
  align-items: center;
}

.courseCardDescription {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #666;
}

.courseCardRating {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #f39c12;
}

.courseCardPrice {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #27ae60;
}