.recommendationsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffec8a;
  height: 10.6875rem;
  margin-top: 3rem;
}

.recommendationsDiv p {
  font-size: 1.5625rem;
  font-weight: 600;
}

.recommendationsDiv button {
  margin-top: 1rem;
  padding: 0.6875rem 1.25rem;
  background-color: #ffec8a;
  border: 1px solid black;
}

.recommendationsDiv button:hover {
  background-color: #ebd256;
  border: 1px solid black;
}
