.main-HeroSection-Div {
    background-image: url('/public/homePage3/heroSection/heroSectionBg.png');
    background-size:cover;
    /* background-position: top right; */
    padding: 20px;
    color: white;
    text-align: center;
    /* filter:brightness(50%) */
}


.heroSection-Content {
    margin-top: 12rem;
    filter:brightness(100%)

}

.heroSection-Content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.heroSection-Content p {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.heroSection-Filter {
    background-color: #ffffff;
    /* position: relative; */
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    top: 6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* margin-bottom: 10rem; */
}

.heroSection-Filter h2 {
    text-align: start;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 20px;
}

.heroSection-Filter-Inputs {
    display: flex;
    gap: 10px;
}

.heroSection-Filter-Inputs input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
}

.heroSection-Filter-Inputs button {
    padding: 10px 35px;
    background-color: #00BFA6;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
}

.heroSection-Filter-Inputs button:hover {
    background-color: #009C87;
}

@media (max-width: 768px) {
    .heroSection-Content h2 {
        font-size: 2rem;
    }

    .heroSection-Content p {
        font-size: 1rem;
    }

    .heroSection-Filter-Inputs {
        flex-direction: column;
        gap: 10px;
    }

    .heroSection-Filter-Inputs input {
        width: 100%;
    }
}