.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 70px;
    background-color: #000;
    color: #ecf0f1;
    font-size: 17px;
}

.footerUpperSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #393838;
    flex: 1;
    margin: 10px;
}

.footerLogo {
    display: flex;
    align-items: center;
}

.footerLogo img {
    width: 45px;
    margin-right: 5px;
}

.footerSection ul {
    list-style-type: none;
    padding: 0;
}

.footerSection li {
    margin: 10px 0;
}

.footerBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.socialIcons {
    display: flex;
    gap: 15px;
}

.socialIcons svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.socialIcons svg:hover {
    color: #3498db;
}

.footerLogo {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footerBottom {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .footerSection {
        min-width: auto;
        margin: 10px 0;
    }

    .footerBottom {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: 14px;
        padding: 15px;
    }

    .footerSection {
        min-width: auto;
        margin: 10px 0;
    }

    .footerBottom {
        gap: 20px;
    }

    .socialIcons {
        gap: 10px;
    }

    .socialIcons svg {
        width: 18px;
        height: 18px;
    }
}