.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 70px;
    background-color: #000;
    color: #ecf0f1;
    font-size: 17px;
}

.footerUpperSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #393838;
    flex: 1;
    margin: 10px;
}

.footerLogo {
    display: flex;
    align-items: center;
}

.footerLogo img {
    width: 45px;
    margin-right: 5px;
}

.footerSection ul {
    list-style-type: none;
    padding: 0;
}

.footerSection li {
    margin: 10px 0;
}

.footerBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.socialIcons {
    display: flex;
    gap: 15px;
}

.socialIcons svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.socialIcons svg:hover {
    color: #3498db;
}

.footerLogo {
    display: flex;
    align-items: center;
}
