.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    width: 800px;
    height: 520px;
    overflow: hidden;
    margin: 8rem 0 0 20rem;
}

.loginPageImg {
    width: 50%;
    height: 100%;
    background-color: #e0e0e0; 
}

.loginPageImg img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
}

.loginPageInputs {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #d0c5ca;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.loginPageLogo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.loginPageLogo img {
    height: 40px;
    margin-right: 10px;
}

.loginPageLogo span {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.loginPageText {
    text-align: start;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.loginPageTextInput {
    display: flex;
    flex-direction: column;
    position: relative;
}

.loginPageTextInput input {
    position: relative;
    background-color: #FAFAFA;
    padding: 10px 30px 10px 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

.loginPageTextInput input::placeholder {
    color: #999;
}

.emailicon,
.lockIcon {
    position: absolute;
    color: #999;
    font-size: 22px;
}

.emailicon {
    top: 15%;
    left: 90%;
    transform: translateY(-50%);
}

.lockIcon {
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
}

.loginPageLoginBtn {
    background-color: #3DCBB1;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
}

.orYouCanSPan {
    display: block;
    margin: 20px 0;
    font-size: 16px;
    color: #666;
    font-weight: 600;
}

.loginPageBtnGroup {
    display: flex;
    flex-direction: column;
}

.loginPageBtnGroup button {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 14px;
}

.loginPageFbBtn {
    background-color: #4267B2;
    color: #fff;
}

.loginPageAppBtn {
    background-color: #1B1B1B;
    color: #fff;
}

.loginPageGoogleBtn {
    background-color: #f4f4f4;
    color: #000000;
}

.needAnAccountSpan {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 600;
}

.signUpSpan {
    color: #3DCBB1;
}
