.subscribeBanner {
    display: flex;
    gap: 15px;
    height: 184px;
    margin: 80px 50px;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('/src/assets/homePage1/subscribe/subscribe.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.subscribeText {
    text-align: start;
    width: 656px;
    height: 82px;
}

.subscribeText h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.subscribeText p {
    font-size: 1.4rem;
    margin-bottom: 0;
}

.subscribeForm {
    display: flex;
}

.emailInput {
    height: 41px;
    width: 243px;
    padding-left: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.subscribeSearchIcon {
    height: 41px;
    font-size: 20px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #fff;
    color: #000;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.subscribeButton {
    width: 110px;
    height: 41px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #3DCBB1;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

.subscribeButton:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .subscribeBanner {
        width: fit-content;
    }

    .subscribeText h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .subscribeText p {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .emailInput {
        height: 30px;
        width: 250px;
    }
}